html,
body{
    
    font-family: Georgia;
    color:white;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1 {
    /* background-image: none;
    margin: 100px 100px 100px 100px; */
    font-family: cursive;
}
/* p {
    margin: 100px 100px 100px 100px;
} */
.nav {
    text-align: center;
    /* background-color: #f1f3f5; */
    padding: 20 0px;
    font-size: 1rem;
  }
.nav-link {
    padding: 10px 100px;
    /* background-color: thistle; */
    text-decoration: none;
    color: white;
}

.nav-bar{
    padding: 10px 10px;

}
.nav{
    display: inline-block;
    padding: 5px 10px;
}
.name{
    display: inline-block;
    padding: 0px 40px;
}

.headshot{
    border-radius: 50%;
    max-width: 20%;
    height: auto;
    border: 5px solid #fff;
    /* padding: 30px 30px; */
    margin: 30px 30px;
    display: inline-block;
    vertical-align: middle;
}
.about{
    vertical-align: middle;
    line-height: normal;
    display: inline-block;
    max-width: 700px;
    margin: 0px 30px;
}
.basic{
    margin: 45px 45px;
}